body {
    padding-top: 50px;
    background-color: #EEF9FF;
}

.divider {
    height:50px;
}

section {
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.transparent-backing {
    border-radius: 1em;
    background-color: rgba(41,43,44, 0.5);
    padding: 1em;
}

.bg-1 {
    height: 95vh;
	background: url('./assets/Straffon542.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}
  
.bg-2 {
    height: 50vh;
	background: url('./assets/Straffon735.jpg') no-repeat top center fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
    height: 75vh;
	background: url('./assets/Straffon049.jpg') no-repeat bottom center fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#292B2C;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

#intro-text {
    padding: 0 1.5em;
    /*text-align: justify;*/
}

#intro-img {
    padding: 0 1.5em;
    width:100%;
    height: 35%;
}